$bg-color: #000000;
$bg-color-active: #080808;
$clr-dark: #091620;
$clr-dark-1: #303437;
$clr-heading: #d2dcde;
$clr-text: #e7e9ea;
$clr-links: #e7e9ea;
$clr-cta: #ff7900;
$clr-cta-hover: #e66e01;
$clr-icon: #71767a;
$clr-alert: #ff0000;
$link-active: #fe6601;

$border: 2px solid #6a6a6a;
$border-v: 1px solid #303437;
$box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);

$font-weight: (
	'light': 300,
	'regular': 400,
	'medium': 500,
	'semibold': 600,
	'bold': 700,
);
